.footer {
    color: lightgray;
    background: darkgray;
    padding: 50px 0 20px 0;
  }
  
  .footer_col {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 5px;
  }
  
  .footer_row ul {
    display: flex;
    list-style: none;
    width: 100vw;
    justify-content: space-around;
  }
  .footer_row ul li {
    margin: 3px;
  }
  
  .footer_col a {
    text-decoration: none;
    transition: 0.2s ease;
    color: white;
  }
  
  .footer_col a:hover {
    color: white;
    transform: translateX(20px);
  }
  
  #footer_cp_text {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .footer_cols {
    display: flex;
    width: 100vw;
    justify-content: space-around;
  }
  
  @media (max-width: 700px) {
    .footer_cols {
      flex-direction: column;
      margin: 20px 0 20px 0;
    }
    .footer_col {
      margin: 15px 0 0 15px;
    }
  }